* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-family: 'Times New Roman', Times, serif;

}

.body-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
    box-sizing: border-box;
}

.container {
    width: 30rem;
    height: 20rem;
    border: 1px solid black;
    border-radius: 15px;
    background-color: #2854A1;
}

h1 {
    text-align: right;
    margin: 2rem;
}

.card-num {
    display: flex;
    justify-content: center;
    gap: 2rem;
    font-size: 2rem;
    margin-top: 4rem;
}

.num-2 {
    margin-left: 4rem;

}

.expiry {
    display: flex; 
    gap: 1rem;
    justify-content: center;
    font-size: .9rem;
}

.expiry-date {
    font-size: 1.9rem;
}

h2 {
    margin-left: 4rem;
    margin-top: 2rem;
    font-weight: 300;
}
